body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(229,214,127);
    background: linear-gradient(189deg, rgba(229,214,127,0.9444152661064426) 47%, rgba(0,114,151,1) 69%, rgba(1,93,122,0.9108018207282913) 82%);
    height: 100%;
    
}


.main-container {
    display: flex;
    margin: 50px auto;
    width: 800px;
     

    
}
        
.left-column {
    width: 300px;
    background-color: #1f1f1f;
}

.right-column {
    width: 500px;
    background-color: lightgray;
}

.photo {
    width: 300px;
    height: 300px;
}

.left-info {
    margin-top: 40px;
    margin-bottom: 80px;;
    
}
.about-me,
.skills {
    margin-top: 80px;
    
    padding: 0 15px 0 15px;
    
}

.white {
    color: white;
}

.black {
    color: #1f1f1f;
    
}

.title-2 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    
}

.description {
    font-weight: 200;
    font-size: 12px;
    line-height: 140%;
    
    
}

.skill-list {
    margin-top: 15px;
}

.skill-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}


.skill-name {
    font-weight: 200;
    font-size: 12px;
    flex-basis: 50%;
    
}

.skill-value {
    background-color: white;
    height: 3px;
    
}
.web {
    width: 40px;
  
}

.tilda {
    width: 80px;
}

.figma {
    width: 50px;
    height: 3px;
    
}

.photoshop {
    width: 50px;
}

.html {
    width: 30px;
}

.java-script {
   width: 5px;
}

.bayan {
    width: 140px;
}

.main-info {
    margin-top: 100px;
    
}

.title-1 {
    position: relative;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;

}

.title-1::before {
    content: "";
    background-color: #ffd900;
    opacity: 40%;
    position: absolute;
    content: "";
    height: 12px;
    width: 80%;
    bottom: 3px;
    transform: translateX(-50%);
    left: 50%;
}



p {
    margin: 0;
    padding: 0;
}

.text-contact {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #1f1f1f;

}

.right-info {
    margin-top: 140px;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}

.subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #1f1f1f;
    text-transform: uppercase;
    margin-bottom: 4px;
    
}

.experience-item {
    margin-bottom: 10px;
}

.experience {
    margin-bottom: 80px;
}
